
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&family=Raleway:ital,wght@0,700;1,400&display=swap');

/* * {
    border: 1px solid red;
} */
body {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;;
}


.container {
    max-width: 1343px;
    margin: 0 auto;
}


.nav {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 140px;
    
}

.menu {
    display: flex;
    margin-left: 500px;    
}

.menu li {
    display: inline;
    

}

.menu a {
    margin-left: 50px;
    color: #FFF;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 100% */
    letter-spacing: 1.5px;
    text-decoration: none;
    opacity: 0.67;
}



.section1 {
    position: absolute;
    float: left;
    width: 50%;
}

.form-check {
    border-radius: 20px;
    background-color: #171616;
 
}

.section2 {
    position: relative;
    float: right;
    width: 50%;
}

.section1 h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 200px;
    font-style: normal;
    font-weight: 600;
    line-height: 170px; /* 85% */
    letter-spacing: -2px;
    margin-top: 40px;
}

.section1 p {
    width: 600px;
    color: #FFF;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 29px; /* 181.25% */
letter-spacing: 0.5px;
}

.section3 {
    position: absolute;
    z-index: 40;
    right: 89px;
}


.hero-img {
    z-index: -10;
}

.inner1 {
    margin-top: 100px;
    z-index: 10;
    max-width: 166px;
    height: 96px;
    border-radius: 20px;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.1);
}

.inner1 p {
color: white;
}

.inner1 h3 {
color: #FFE642;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 100% */
letter-spacing: 1px;

}

.inner2 {
    z-index: 10;
    max-width: 166px;
    height: 96px;
    border-radius: 20px;
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 20px;
}

.inner2 h3 {
color: #FB1351;
font-family: Poppins;
font-size: 40px;
font-style: normal;
font-weight: 600;
line-height: 40px; /* 100% */
letter-spacing: 1px;
}


.btn-success {
    margin-top: 550px; 
    border-radius: 10px;
    background: #25AB75;
    width: 200px;
    height: 70px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
    letter-spacing: 1px;
}

.btn-dark {
    margin-left: 30px;
    margin-top: 550px; 
    border-radius: 10px;
    background: #171616;
    width: 200px;
    height: 70px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
    letter-spacing: 1px;
}
    
.container1 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 40px;
    margin-top: 200px;
    border-radius: 10px;
    
  }

  .block-1 {
    grid-column: 1 / 1;
   
    
}

.block-2 {
    grid-column: 2 / span 1;
    
}


.block-3 {
    grid-column: 3 / span 1;
    
}


.block-4 {  
    grid-column: 1 / span 1;

}



.block-5 {
    grid-column: 2 / span 1; 
}

.block-6 {
    grid-column: 3 / span 1; 
}

.container1 h1 {
color: #FFF;
font-family: Poppins;
font-size: 50px;
font-style: normal;
font-weight: 600;
line-height: 45px; /* 90% */
letter-spacing: 0.3px;

}

.container1 img {
    border-radius: 10px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 80%, #000 100%);
   
}

.section4 {
    position: relative;
    margin-top: 1000px;
    display: flex;

}

.block1 {
    
    
}

.block2 {

   
}

.block3 {

    position: absolute;
    background-color: rgb(48, 45, 45);
    width: 900px;
    height: 733px;
    top: 0px;
    left: 441px;
    opacity: 70%;
    z-index: -10;
    
}

.block5 {
    margin-top: 410px;
    position: absolute;
    z-index: -5;
}

.section4 h1 {
    margin-top: 80px;
    color: #FFF;
font-family: Poppins;
font-size: 120px;
font-style: normal;
font-weight: 600;
line-height: 120px;
letter-spacing: -2px;
}


.section4 p {
    margin: 100px 50px;
    color: #FFFFFF;
font-family: Poppins;
font-size: 25px;
font-style: normal;
font-weight: 400;
line-height: 50px; /* 200% */
letter-spacing: 0.5px;



}


.btn-secondary {
    margin-left: 50px;
    border-radius: 10px;
    background: #25AB75;
    width: 200px;
    height: 70px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 122.222% */
    letter-spacing: 1px;
}

.section5 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
}

.img1 {
    margin-left: 40px;
    margin-top: 170px;
    width: 377px;
    height: 377px;
    top: 2707px;
    left: 109px;
    z-index: 1;
    

}

.img2 {
    margin-left: 331px;
    width: 558px;
    height: 514px;
    top: 2537px;
    left: 762px;
    z-index: 2;
    

}

.img3 {

    margin-left: 410px;
    width: 321px;
    height: 321px;
    top: 3051px;
    left: 441px;
    
    z-index: 1;
}

.section5 img {

    border-radius: 10px;

}

.section5 h6 {

font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 25px;
letter-spacing: 0.5px;
text-align: left;


}

.section5 p {

    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.5px;
    text-align: left;
    opacity: 50%;
    

}

.section6 {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    

}

.col1 {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FFFFFF;   
}
